* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;

}
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    overflow-x: hidden;
 
        

}

.logoo {
    background-size: cover;
    background-image: url('../img/logoo.png');
    position: static;
    width: 50%;
    background-repeat: no-repeat;
    height: 420px;
    overflow: hidden;


}



.seta{
    width: 300px;
    height: 300px;

   
  
}
.prev, .next {
    cursor: pointer;
    padding: 10px;
    background-color: #1db954;
    color: #fff;
    border: none;
    margin: 0 10px;
}

.prev:hover, .next:hover {
    background-color: #0f813d;
}


header {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: transparent;
    transition: all .35s ease;
    background-color: #fff;
 
    animation: 1s ease-out 0s 1 slideInLeft;   padding: 14px 14px;
}
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.logo {
    font-weight: 500;
    font-size: 1rem;
}

.cabeçalho-link {
    display: flex;
    gap: 2.5rem;
    height: 20px;
    margin-right: 20px;


}

.cabeçalho-link a {
    color: #111;
    font-weight: 700;
    transition: 0.3s;
    text-decoration: none;

}


.cabeçalho-link a:hover {

    color: #ab96ce;
    border-top: 2px solid #ab96ce;
    border-bottom: 2px solid #ab96ce;

}


.icon span {
    font-size: 2rem;
    cursor: pointer;
    color: #ab96ce;

}

.icon span:hover {
    color: #ab96ce;

}

.Meio {

    padding: 3rem 0 0 2.5rem;
    height: 30rem;
    line-height: 3rem;
    position: relative;
    padding-top: 10%;

}

.Meio h1 {
    font-size: 3rem;

}

html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btnspo {
    min-width: 150px;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    background: linear-gradient(90deg, #8a6db8(129,230,217,1) 0%,#ab96ce(79,209,197,1) 100%);
    border: none;
    border-radius: 100px;

    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .btnspo::before {
  content: '';
    border-radius: 200px;
    min-width: calc(70px + 14px);
    min-height: calc(30px + 4px);
   
    box-shadow: 0 0 60px#ab96ce(0,255,30,.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
    
  }
  
  .btnspo:active, .button:focus {
    color: #ffffff;
    transform: translateY(-6px);
    min-width: 150px;
    min-height: 50px;
  }
  
  .btnspo:active::before, button:focus::before {
    opacity: 1;
  }
  
  .btnspo::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #ab96ce;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
    
  }
  
  .btnspo:active::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

.Meio button:active {
    background-color: #1ed760;
    transform: scaleY(1.1);
}

section {
 
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    flex-wrap: wrap;

}
.second{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tituloh1 {
    align-items: center;
    flex-basis: 100%;
    text-align: center;
    font-size: 2rem;

}

.Container-card-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
 
    

}



.cards img {
    width: 300px;
    height: auto;
    margin-left: 30px;
    transition: 0.35s ease;

}

.cards img:hover {
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;

}

.cta {
    height: 60vh;
    width: 100%;
    background: url(../img/fundo1.png);
    background-size: cover;

    display: flex;  position: relative;
    margin-top: 5rem;

    animation: 3s ease-out 0.5s 1 slideInLeft;
}

.text-cta {
    padding-left: 5rem;
    position:absolute;
    left: 0;
}

.text-cta h6 {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .6px;
    margin-bottom: 14px;

}

.text-cta h4 {
    font-size: 3.3rem;
    line-height: 1.2;
    letter-spacing: .6rem;
    margin-bottom: 30px;
    margin-top: 100px;
}

.text-cta a {
    background-color: #ab96ce;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.text-cta a:hover {
    background-color: #111;
    transform: scaleY(1.2);

}

.Container-roupas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;

}

.Container-roupas img:hover {
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;

}

.roupa img {
    width: 250px;
    height:270px;
}

.roupa {
    background-color: #ab96ce;
    color: #000;
}

.Marcas {
    margin-top: 10rem;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.Marcas img {
    width: 180px;
    height: auto;
    background-color: aliceblue;
}

#Contato {
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #4b4b4b;
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5 {
    font-size: 15px;
    font-weight: 600;
    color: #555;
}

.meio-contato li {
    margin-bottom: 15px;
}

.meio-contato li a {
    display: block;
    color: #555;
    font-weight: 600;
    transition: all .35s ease;
}

.last-text {
    text-align: center;
    background-color: #555;
    color: #fff;
}

header input {
    width: 300px;
    height: 4vh;

    border-radius: 10px;


}

.pesquisar {
    width: 300px;
    position: relative;
}

.pesquisar2 {
    right: 10px;
    position: absolute;
    bottom: 0;
}
.pessoaicon {
    width: 30px;height: 30px;
    color: black;
}
.pessoaicon:hover {
    color: #ab96ce;
    fill: #ab96ce;
   
}


.col:hover{
    color: #ab96ce;
    fill: #ab96ce;
 
}


.col{
    color: #000000;
  
 
}


.col:hover{
    color: #ab96ce;
    fill: #ab96ce;
 
}


.col:hover{
    color: #ab96ce;
    fill: #ab96ce;
 
}


.carusel{

    width: 300%;
    display: flex;
    position: relative;

}
.test {
    background-size: cover;
    background-image: url(../img/jeon.jpg);
    position: static;
    width: 50%;
    background-repeat: no-repeat;
    height: 420px;

}

.backlogin {
    background-image: lo
}


.carousel-slide {
   
    transition: transform 3s ease-in-out; /* Adiciona transição suave de 0.3 segundos */
  }
  
  .carousel-item {
    
    transition: opacity 0.3s ease-in-out; /* Adiciona transição suave de opacidade */
 
  }
  
.textoagradecimento {
    color: #1db954;
    text-align: cen;
}

.imagemsobre{
    size: 40px;
}
.carousel-item{
    position: relative;
    width: 100%;
    height: 500px;

}

.carousel-content{

    left: 0;
    top: 0;
    position: absolute;
    z-index: 3;



}

.carousel-control-next-icon{
    color: black;
}

.produto-info{
    display: flex;
    justify-content: space-around;
   margin: 10px 30px 0 30px;
    text-align: center;
}