<!-- musica.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Música Atual</title>
</head>
<body>
  <h1>Nome da Música: <%= name %></h1>
  <img src="<%= imageUrl %>" alt="Capa do Álbum">
</body>
</html>
